<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .message {
            font-size: 1.5em;
            color: green;
        }
        .details {
            margin-top: 20px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="message">Item Successfully Added!</h1>
        <div class="details">
            <h3>Lambda Response:</h3>
            <pre>{{ lambda_response }}</pre>
        </div>
        <a href="/add-item" class="btn">Add Another Item</a>
        <a href="/read_all_items" class="btn">Over All Items</a>

    </div>
</body>
</html>